.characterSheet {
	display: grid;
	grid-template-columns: 2fr 1fr;
	/* grid-template-columns: 2fr 1fr; */
	gap: var(--spacing-l);
	place-items: center;
}

.characterSheet header {
	grid-column: span 2;
}

.characterSheet ul {
	grid-column: 2;
}

.characterSheet button {
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	color: var(--black);
}

.characterSheet button:hover {
	background-color: var(--warm-grey);
}
