.characterSheet {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-auto-flow: dense;
	margin: var(--spacing-s) var(--spacing-m);
	gap: var(--spacing-xs) var(--spacing-l);
	grid-template-areas: "sidebar content";
}

.characterSheet > aside {
	grid-column: sidebar;
	margin-inline: auto;
}

.characterSheet > form {
	grid-column: content;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
}

.characterSheet footer {
	grid-column: span 2;
	display: flex;
	gap: var(--spacing-s);
	margin-top: auto;
	place-items: flex-end;
	place-content: flex-end;
	margin-inline-end: 0;
}

.characterSheet nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--spacing-s);
	margin-block-start: var(--spacing-s);
}

@media screen and (max-width: 1600px) {
	.characterSheet {
		grid-template-columns: 1fr;
		grid-template-areas: "content";
		margin: var(--spacing-xxs) var(--spacing-xxs);
	}

	.characterSheet > aside {
		grid-column: content;
		display: flex;
		gap: var(--spacing-s);
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-block-end: 1rem;
	}

	.characterSheet nav {
		flex-direction: row;
		margin-block-start: 0;
	}
}
