form.basic {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacing-s);
	/* min-width: 868px; */
}

form.basic svg {
	max-height: 10px;
	margin-block-start: -1rem;
}

.span2 {
	grid-column: span 2;
}
