.addCircle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--golden-dark);
	transition: var(--transition);
	aspect-ratio: 1/1;
	cursor: pointer;
}

aside > .addCircle {
	width: 100%;
	height: auto;
	max-width: 10vw;
}

.addCircle:hover,
button:hover > .addCircle {
	background-color: var(--warm-grey);
}

@media screen and (max-width: 1600px) {
	aside > .addCircle {
		width: 60%;
		height: auto;
		max-width: 6vw;
	}
}

@media screen and (max-width: 1200px) {
	aside > .addCircle {
		width: 100%;
		height: auto;
		max-width: 10vw;
		min-width: 10vw;
	}
}
