.addCircle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--golden-dark);
	transition: var(--transition);
	/* aspect-ratio: 1/1; */
	cursor: pointer;
	overflow: hidden;
}

.addCircle:not(.imgWrapper) {
	width: 40px;
	height: 40px;
}

.imgWrapper {
	object-fit: cover;
	overflow: hidden;
	cursor: default;
}

.imgWrapper img {
	object-fit: cover;
	width: auto;
	height: auto;
}

a > .imgWrapper img {
	width: 100%;
	height: 100%;
	border-radius: var(--spacing-s);
}

section > .imgWrapper {
	width: 237px;
	border-radius: var(--spacing-s);
	height: auto;
	box-shadow: var(--shadow);
	border: 3px solid var(--white);
}

@media screen and (max-width: 1000px) {
	section > .imgWrapper {
		width: 190px;
	}
}

.addCircle:hover,
button:hover > .addCircle {
	background-color: var(--warm-grey);
}

/* @media screen and (max-width: 1100px) {
	.addCircle {
		display: none;
	}

	section > .addCircle {
		display: flex;
	}
} */
