.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	row-gap: var(--spacing-xs);
	grid-auto-flow: dense;
	grid-template-areas: "total pericia treinada nivel modificador outros";
	/* height: 50vh; */
	/* overflow-y: auto; */
}

.list [role="columnheader"] {
	background-color: var(--warm-grey-light);
	padding: var(--spacing-xxs) 0;
	z-index: 1;
	font-weight: 700;
	position: sticky;
	top: 0;
	border-bottom: 2px solid var(--red);
}

.pericia {
	grid-column: pericia;
}

.total {
	grid-column: total;
}

.modificador {
	grid-column: modificador;
}

.outros {
	grid-column: outros;
}

.treinada {
	grid-column: treinada;
}

.nivel {
	grid-column: nivel;
}

.list li {
	width: 100%;
	display: flex;
	border-bottom: 1px solid var(--warm-grey-light);
	align-items: center;
}

/* .list > li:nth-child(2n) {
	background-color: var(--warm-grey-light);
} */

.list input {
	width: auto;
}

.list strong {
	color: var(--red);
	font-size: var(--medium);
	margin-inline: var(--spacing-xxs);
}
