.list {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr; */
	grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
	grid-template-rows: auto auto;
	row-gap: var(--spacing-xxs);
	grid-auto-flow: dense;
	grid-template-areas: "pericia treinada nivel modificador outros";
	/* grid-template-areas: "total pericia treinada nivel modificador outros"; */
	/* height: 50vh; */
	/* overflow-y: auto; */
}

.viewList {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

.list [role="columnheader"] {
	background-color: var(--warm-grey-light);
	z-index: 1;
	font-weight: 700;
	position: sticky;
	top: 0;
	border-bottom: 2px solid var(--red);
}

.list [role="columnheader"]:not(:first-child) {
	justify-content: center;
}

.pericia {
	grid-column: pericia;
}

.modificador {
	grid-column: modificador;
	justify-content: center;
}

.outros {
	grid-column: outros;
	justify-content: center;
}

.treinada {
	grid-column: treinada;
	justify-content: center;
}

.nivel {
	grid-column: nivel;
	justify-content: center;
}

.list li {
	width: 100%;
	display: flex;
	border-bottom: 1px solid var(--warm-grey-light);
	align-items: center;
	padding: var(--spacing-s);
}

.viewList li {
	padding: var(--spacing-xs) var(--spacing-xxs);
}

/* .list > li:nth-child(2n) {
	background-color: var(--warm-grey-light);
} */

.list select {
	width: fit-content;
	padding: var(--spacing-xs) var(--spacing-s);
}

.list div {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--warm-grey-light);
}

.list strong {
	color: var(--red);
	font-size: var(--medium);
	margin-inline: var(--spacing-xxs);
}
