.accordion {
	margin: 0;
	width: 100%;
}

.accordion header {
	cursor: pointer;
}

.accordion-content {
	overflow: hidden;
	max-height: 1000px;
	transition: max-height 1s ease-in-out;
	z-index: 99;
}

.accordion-content[aria-expanded="false"] {
	max-height: 0px;
	padding: 0px;
	transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}
