.accordion {
	margin: 0;
	/* width: 100%; */
}

.accordion header {
	cursor: pointer;
	position: relative;
}

.accordion-content {
	overflow: hidden;
	max-height: 1000px;
	transition: max-height 500ms ease-in-out;
	margin-block-start: var(--spacing-xs);
	z-index: 99;
}

.accordion-content.absolute {
	position: absolute;
	background-color: var(--white);
	box-shadow: var(--shadow);
	border-radius: var(--spacing-s);
}

.accordion-content[aria-expanded="false"] {
	max-height: 0px;
	padding: 0px;
	transition: max-height 250ms ease-in-out, padding 0.5s ease-in-out;
}

.accordion .link-button {
	margin-inline: auto;
}
