@keyframes entrance {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	100% {
		opacity: 1;
		transform: translateY(5%);
	}
}

@keyframes leaving {
	0% {
		opacity: 1;
		transform: translateY(5%);
	}

	100% {
		opacity: 0;
		transform: translateY(0);
	}
}

dialog {
	animation: entrance 200ms;
	animation-fill-mode: forwards;
}

dialog.close {
	animation: leaving 200ms;
	animation-fill-mode: forwards;
}
