.attackGrid,
.itemGrid,
.addGrid {
	display: grid;
	grid-template-columns: 2fr repeat(5, 1fr) 0.5fr;
	gap: var(--spacing-xxs);
	margin-block: var(--spacing-m);
	align-items: stretch;
	padding-inline: var(--spacing-s);
}

.attackGrid:last-child {
	padding-inline: var(--spacing-xxs);
}

.itemGrid {
	grid-template-columns: 1fr repeat(2, minmax(70px, 130px)) 50px;
}

.addGrid {
	margin-block: var(--spacing-xs);
}

.attackGrid button,
.itemGrid button,
.addGrid button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--medium);
}

ul.attackGrid,
ul.itemGrid {
	padding-inline: var(--spacing-s);
	margin-block: var(--spacing-xs);
	border-bottom: transparent;
}

/* section.addAttackGrid:last-of-type,
section.itemGrid:last-of-type {
	margin-block-end: 0;
} */

ul.attackGrid:not(:last-of-type),
ul.itemGrid:not(:last-of-type) {
	border-bottom: 1px solid var(--warm-grey);
}

ul.attackGrid button,
ul.itemGrid button {
	top: -5px;
}

ul.attackGrid strong,
ul.itemGrid strong {
	color: var(--red);
}

.withModifier {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	gap: var(--spacing-xxs);
}

.withModifier button {
	font-size: inherit;
}
