.addAttackGrid,
.itemGrid {
	display: grid;
	grid-template-columns: 2fr repeat(5, 1fr) 0.5fr;
	gap: var(--spacing-xxs);
	margin-block: var(--spacing-m);
	align-items: stretch;
	padding-inline: var(--spacing-s);
}

.itemGrid {
	grid-template-columns: 1fr repeat(3, minmax(70px, 130px));
}

.addAttackGrid button,
.itemGrid button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--medium);
}

ul.addAttackGrid,
ul.itemGrid {
	padding-inline: var(--spacing-s);
	margin-block: var(--spacing-xs);
	border-bottom: transparent;
}

ul.addAttackGrid:not(:last-of-type),
ul.itemGrid:not(:last-of-type) {
	border-bottom: 1px solid var(--warm-grey);
}

ul.addAttackGrid button,
ul.itemGrid button {
	top: -5px;
}

ul.addAttackGrid strong,
ul.itemGrid strong {
	color: var(--red);
}

.withModifier {
	display: flex;
	align-items: center;
	gap: var(--spacing-xxs);
}

.withModifier button {
	font-size: inherit;
}
