button,
.link-button {
	padding: var(--spacing-xs) var(--spacing-s);
	border: 1px transparent solid;
	background-color: var(--red);
	color: var(--golden);
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: var(--spacing-xs);
	transition: var(--transition);
	display: flex;
	gap: var(--spacing-xs);
	max-width: 40ch;
	align-items: center;
}

button.smaller-padding,
.link-button.smaller-padding {
	padding: var(--spacing-xxs) var(--spacing-xs);
}

button:not(:disabled):hover,
.link-button:hover {
	background-color: var(--red-dark);
	color: var(--golden-dark);
}

button:not(:disabled):active,
.link-button:active {
	transform: translateY(2px);
}

button:disabled,
.link-button.active {
	cursor: default;
}

button.secondary {
	background-color: var(--warm-grey-light);
	color: var(--red);
	padding: var(--spacing-xxs) var(--spacing-xs);
	position: relative;
}

button.secondary:not(:disabled):hover {
	background-color: var(--warm-grey);
	color: var(--black);
}

button.secondary:disabled,
button:disabled {
	background-color: var(--warm-grey-light);
	border: 1px solid var(--red);
	color: var(--red);
}

button.headless,
.link-button.headless {
	padding: 0;
	border: 1px transparent solid;
	background-color: transparent;
	color: var(--black);
	align-items: center;
}

button.headless:not(:disabled):hover,
.link-button.headless:not(:disabled):hover {
	color: var(--red);
	background-color: transparent;
}

button.fit {
	width: fit-content;
}

button.center {
	margin: 0 auto;
}

button.extra-mt {
	margin-block-start: var(--spacing-xs);
}
