.floating-label {
	position: relative;
}

.floating-text {
	color: var(--red);
	font-weight: 700;
	position: absolute;
	pointer-events: none;
	left: var(--spacing-xs);
	top: var(--spacing-s);
	background: white;
	transition: var(--transition);
}

.floating-text.big {
	left: var(--spacing-s);
}

.floating-input:disabled ~ .floating-text {
	background: transparent;
	color: var(--grey);
}

.floating-input,
.floating-select {
	display: block;
	padding-inline: var(--spacing-s);
	border: 1px solid var(--warm-grey);
	border-radius: var(--spacing-s);
}

.floating-input:focus,
.floating-select:focus {
	border: 1px solid var(--grey);
}

.floating-input:focus ~ .floating-text,
.floating-input:not(:placeholder-shown) ~ .floating-text,
.floating-select:not([value=""]):valid ~ .floating-text,
.floating-select:not([value]) ~ .floating-text {
	left: 8px;
	top: -8px;
	font-size: var(--small);
	border: 1px solid var(--warm-grey);
	border-radius: var(--spacing-s);
	padding-inline: var(--spacing-xxs);
}

.floating-input:disabled:not(:placeholder-shown) ~ .floating-text,
.floating-select:disabled:not([value=""]):valid ~ .floating-text,
.floating-select:disabled:not([value]) ~ .floating-text {
	background: white;
	color: var(--red);
}
