:root {
	--purple: hsl(261, 54%, 47%);
	--red: hsl(357, 70%, 47%);
	--red-dark: hsl(357, 63%, 32%);
	--golden: hsl(40, 100%, 72%);
	--golden-dark: hsl(40, 90%, 55%);
	--grey: hsl(60, 5%, 50%);
	--warm-grey: #d1c9c3;
	--warm-grey-light: #e1dbd6;

	--black: hsla(0, 0%, 11%, 0.9);
	--black-alpha: hsla(0, 0%, 11%, 0.5);
	--white: hsl(60, 3%, 94%);
	--white-alpha: hsla(60, 3%, 94%, 0.8);
	--white-alpha-50: hsla(60, 3%, 94%, 0.5);
	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta.jpg);

	--small: 0.85rem;
	--regular: 1.1rem;
	--medium: 1.5rem;
	--big: 2rem;
	--header: clamp(2.16rem, 0.8rem + 1.6vw, 3.44rem);
	--title: clamp(2.88rem, 0.8rem + 2.4vw, 3.44rem);

	--spacing-xxs: 5px;
	--spacing-xs: 10px;
	--spacing-s: 15px;
	--spacing-sm: 20px;
	--spacing-m: 25px;
	--spacing-l: 35px;

	--transition: 100ms ease-in-out;
	--shadow: 0 5px var(--spacing-s) rgba(0, 0, 0, 0.2);
}

/* [data-theme="dark"] :root {
	--white: hsla(0, 0%, 11%, 1);
	--white-alpha: hsla(0, 0%, 11%, 0.8);
	--white-alpha-50: hsla(0, 0%, 11%, 0.5);
	--black: hsl(60, 3%, 94%);

	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta2.jpg);
} */

::selection {
	background-color: var(--red);
	color: var(--white);
}

.tormenta {
	font-family: var(--tormenta-font);
	color: var(--red);
}

h1 {
	font-size: var(--header);
}

h1.title {
	font-size: var(--title);
	text-align: center;
}

h2 {
	font-size: var(--big);
}

h3 {
	font-size: var(--medium);
}

a {
	text-decoration: none;
	color: var(--red);
}

/* header {
	margin-block-end: var(--spacing-m);
} */

body {
	background-image: var(--bg-image);
	backdrop-filter: grayscale(0.8);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: var(--black);
	font-size: var(--regular);
	display: grid;
	align-items: center;
	min-height: 100dvh;
	position: relative;
}

main,
.main-style {
	background-color: var(--white-alpha);
	padding: var(--spacing-xs) var(--spacing-m);
	backdrop-filter: blur(3px);
	border-inline: 10px solid var(--black);
}

main.center-align {
	margin: 0 auto;
	display: grid;
	place-items: center;
	min-width: 90ch;
	min-height: 100dvh;
}

@media screen and (max-width: 1100px) {
	main,
	.main-style {
		min-width: 90%;
	}
}

.align-start {
	align-self: start; /*used to center an only child in the main container */
}

.place-center {
	place-items: center;
}

section,
.section-style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-s);
	background-color: var(--white-alpha);
	padding: var(--spacing-s) var(--spacing-m);
	border-radius: var(--spacing-s);
	box-shadow: var(--shadow);
}

section.row,
.section-style.row {
	flex-direction: row;
}

section.row.wrap {
	flex-wrap: wrap;
}

:not(section.row, .section-style.row) h1 {
	text-align: center;
}

section.smaller {
	gap: var(--spacing-xxs);
}

section.big {
	padding-block: var(--spacing-l);
}

.no-shadow {
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
}

.no-padding {
	padding: 0;
}

section.grid,
.section-style.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--spacing-m);
}

section.auto-grid,
.section-style.auto-grid {
	grid-template-columns: auto 1fr;
	gap: var(--spacing-xs);
}

section.fit-grid,
.section-style.fit-grid {
	grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
	gap: var(--spacing-xs);
}

section.item-3-grid,
.section-style.item-3-grid {
	grid-template-columns: auto repeat(2, minmax(50px, 1fr));
	gap: var(--spacing-xs);
}

ul.section-style {
	margin-block: var(--spacing-m);
}

section + section:not(.row, .margin-null, .margin-half),
header + section:not(.row),
section:not(.row) + header {
	margin-block-start: var(--spacing-m);
}

section.margin-null {
	margin-block: 0;
}

section + section.margin-half {
	margin-block-start: var(--spacing-xs);
}

section.grid > article {
	margin: 0;
}

section header {
	display: flex;
	align-items: center;
	gap: var(--spacing-s);
}

input,
select {
	padding: var(--spacing-s) var(--spacing-xs) var(--spacing-xs);
	font-size: var(--regular);
	font-weight: 700;
	border: none;
	width: 100%;
	border: 1px solid var(--warm-grey);
	border-radius: var(--spacing-s);
}

select {
	background-color: white;
}

input:not(:disabled):focus,
input:not(:disabled):active,
select:not(:disabled):focus,
select:not(:disabled):active {
	border: transparent 1px solid;
	outline: none;
	color: var(--red);
}

input.small,
label.small,
select.small {
	font-size: var(--small);
	/* width: fit-content;
	padding-inline-start: var(--spacing-s); */
}

input.small {
	padding: var(--spacing-s) var(--spacing-xs) var(--spacing-xxs);
}

input.medium,
label.medium,
select.medium {
	font-size: var(--medium);
}

input.big,
label.big,
select.big {
	font-size: var(--big);
}

input:disabled,
select:disabled {
	color: var(--black);
	opacity: 1;
	cursor: not-allowed;
}

select:disabled {
	background-color: #f8f8f7;
}

option {
	font-weight: 400;
}

dialog {
	position: relative;
	width: 80%;
	max-height: 90dvh;
	background-color: var(--white);
	padding: var(--spacing-m) var(--spacing-l);
	border-radius: var(--spacing-s);
	box-shadow: var(--shadow);
	border: none;
	opacity: 1;
}

@media screen and (max-width: 1600px) {
	dialog {
		width: 85%;
	}
}

@media screen and (max-width: 1200px) {
	dialog {
		padding: var(--spacing-xs) var(--spacing-s);
		width: 90%;
	}

	input.big,
	label.big,
	select.big {
		--big: 1.8rem;
	}

	input {
		padding: var(--spacing-s) var(--spacing-xxs) var(--spacing-xs);
	}
}

dialog[open] {
	display: grid;
	margin: var(--spacing-l) auto;
}

dialog:not([open]) {
	pointer-events: none;
	margin: 0;
}

dialog::backdrop {
	background-color: hsla(0, 0%, 0%, 0.5);
	backdrop-filter: blur(5px);
}

html:has(dialog[open]) {
	overflow: hidden;
}

textarea {
	resize: none;
	background-image: linear-gradient(
		0deg,
		white 25%,
		var(--white-alpha-50) 25%,
		var(--white-alpha-50) 50%,
		white 50%,
		white 75%,
		var(--white-alpha-50) 75%,
		var(--white-alpha-50) 100%
	);
	background-size: 90px 90px;
	padding: 1rem;
	border: 1px solid var(--warm-grey);
}

textarea:focus {
	outline: white 2px solid;
	border: 1px solid white;
}

.span2 {
	grid-column: span 2;
}
