main.fichas {
	padding: 0;
	display: grid;
	grid-template: auto 1fr / 1fr;
	min-height: 90dvh;
	min-width: 60vw;
	/* overflow: hidden; */
	border-inline: none;
	background-color: transparent;
	margin-block-start: var(--spacing-s);
	position: relative;
}

nav.main-style {
	position: absolute;
	border-inline: none;
	background-color: transparent;
	display: flex;
	/* flex-direction: column; */
	z-index: 1;
	gap: var(--spacing-xs);
	/* justify-content: space-evenly; */
	top: -85px;
	left: -20px;
	backdrop-filter: blur(0px);
}

nav.main-style section.grid:not(.place-center) {
	grid-template-columns: 1fr;
	gap: var(--spacing-xs);
}

nav.main-style section.big {
	padding: var(--spacing-xs);
}

nav.main-style section.grid section.row h3 {
	font-size: var(--regular);
}
