:root {
	--red: hsl(357, 70%, 47%);
	--red-dark: hsl(357, 63%, 32%);
	--golden: hsl(40, 100%, 72%);
	--golden-dark: hsl(40, 90%, 55%);
	--grey: hsl(60, 5%, 50%);
	--warm-grey: #d1c9c3;

	--regular: 1rem;
	--small: 0.75rem;
	--big: 2rem;
	--header: 3rem;
	--title: 5rem;

	--spacing-xs: 10px;
	--spacing-s: 15px;
	--spacing-m: 25px;

	--black: hsla(0, 0%, 11%, 0.9);
	--white: hsl(60, 3%, 94%);
	--white-alpha: hsla(60, 3%, 94%, 0.8);
	--white-alpha-50: hsla(60, 3%, 94%, 0.5);
	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta.jpg);
}

[data-theme="dark"] :root {
	--white: hsla(0, 0%, 11%, 1);
	--white-alpha: hsla(0, 0%, 11%, 0.8);
	--white-alpha-50: hsla(0, 0%, 11%, 0.5);
	--black: hsl(60, 3%, 94%);

	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta2.jpg);
}

::selection {
	background-color: var(--red);
	color: var(--white);
}

.tormenta {
	font-family: var(--tormenta-font);
	color: var(--red);
}

.add-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: var(--red);
	color: var(--white);
	border-radius: 50%;
	margin: 0 auto;
}

h1 {
	font-size: var(--header);
}

h1.title {
	font-size: var(--title);
	line-height: 1.5;
}

h2 {
	font-size: var(--big);
}

a {
	text-decoration: none;
	color: var(--red);
}

body {
	background-image: var(--bg-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: var(--black);
	font-size: var(--regular);
	display: grid;
	align-items: center;
	min-height: 100dvh;
	position: relative;
}

main {
	margin: 0 auto;
}

section {
	background-color: var(--white-alpha);
	padding: var(--spacing-s) var(--spacing-m);
	border-radius: var(--spacing-s);
	box-shadow: 0 5px var(--spacing-s) rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(3px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-s);
}

section.row {
	flex-direction: row;
}

section + section {
	margin-block-start: var(--spacing-s);
}

section header {
	display: flex;
	align-items: center;
	gap: var(--spacing-s);
}

input {
	padding: var(--spacing-s) var(--spacing-xs);
	font-size: var(--big);
	font-weight: 700;
	border: none;
	width: 100%;
}

button {
	padding: var(--spacing-xs) var(--spacing-s);
	border: 1px transparent solid;
	background-color: var(--red);
	color: var(--golden);
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: var(--spacing-xs);
	transition: 100ms;
	display: flex;
	gap: var(--spacing-xs);
}

button:hover {
	background-color: var(--red-dark);
	color: var(--golden-dark);
}

button:active {
	border: 1px var(--golden) solid;
}
