:root {
	--red: hsl(0, 78%, 47%);
	/* --red: hsl(357, 63%, 44%); */
	--red-dark: hsl(357, 63%, 32%);
	--golden: hsl(40, 100%, 72%);
	--golden-dark: hsl(40, 90%, 55%);
	--grey: hsl(60, 5%, 50%);

	--regular: 1rem;
	--small: 0.75rem;
	--big: 2rem;
	--header: 3rem;
	--title: 5rem;

	--white: hsla(0, 0%, 11%, 1);
	--white-alpha: hsla(0, 0%, 11%, 0.8);
	--white-alpha-50: hsla(0, 0%, 11%, 0.5);
	--black: hsl(60, 3%, 94%);

	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta2.jpg);
}

[data-theme="dark"] :root {
	--black: hsla(0, 0%, 11%, 0.9);
	--white: hsl(60, 3%, 94%);
	--white-alpha: hsla(60, 3%, 94%, 0.8);
	--white-alpha-50: hsla(60, 3%, 94%, 0.5);
	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta2.jpg);
}

::selection {
	background-color: var(--red);
	color: var(--white);
}

.tormenta {
	font-family: var(--tormenta-font);
	color: var(--red);
}

.dice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(50px + 0.5em);
	height: auto;
	background-color: var(--white);
	aspect-ratio: 1 / 1;
	line-height: 0;
	padding: 15px;
	border: var(--red) 2px solid;
	border-radius: 15px;
	margin: 0 auto;
}

.add-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: var(--red);
	color: var(--white);
	border-radius: 50%;
	margin: 0 auto;
}

h1 {
	font-size: var(--header);
}

h1.title {
	font-size: var(--title);
	line-height: 1.5;
}

h2 {
	font-size: var(--big);
}

a {
	text-decoration: none;
	color: var(--red);
}

body {
	min-height: 100dvh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: var(--black);
	font-size: var(--regular);
	display: grid;
	align-items: center;
}

body::before {
	content: "";
	/* background-image: url(../assets/bgTormenta2.jpg); */
	background-image: var(--bg-image);
	/* filter: grayscale(0.5);
	opacity: 0.8; */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

main {
	margin: 0 auto;
}

section {
	background-color: var(--white-alpha);
	padding: 15px 25px;
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(3px);
	display: flex;
	flex-direction: column;
}

section + section {
	margin-block-start: 15px;
}
