:root {
	--red: hsl(357, 70%, 47%);
	--red-dark: hsl(357, 63%, 32%);
	--golden: hsl(40, 100%, 72%);
	--golden-dark: hsl(40, 90%, 55%);
	--grey: hsl(60, 5%, 50%);
	--warm-grey: #d1c9c3;

	--black: hsla(0, 0%, 11%, 0.9);
	--black-alpha: hsla(0, 0%, 11%, 0.5);
	--white: hsl(60, 3%, 94%);
	--white-alpha: hsla(60, 3%, 94%, 0.8);
	--white-alpha-50: hsla(60, 3%, 94%, 0.5);
	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta.jpg);

	--small: 0.75rem;
	--regular: 1.1rem;
	--medium: 1.5rem;
	--big: 2rem;
	--header: 3rem;
	--title: 5rem;

	--spacing-xs: 10px;
	--spacing-s: 15px;
	--spacing-m: 25px;
	--spacing-l: 35px;

	--transition: 100ms ease-in-out;
	--shadow: 0 5px var(--spacing-s) rgba(0, 0, 0, 0.2);
}

/* [data-theme="dark"] :root {
	--white: hsla(0, 0%, 11%, 1);
	--white-alpha: hsla(0, 0%, 11%, 0.8);
	--white-alpha-50: hsla(0, 0%, 11%, 0.5);
	--black: hsl(60, 3%, 94%);

	--bg-image: linear-gradient(var(--white-alpha-50), var(--white-alpha-50)),
		url(../assets/bgTormenta2.jpg);
} */

::selection {
	background-color: var(--red);
	color: var(--white);
}

.tormenta {
	font-family: var(--tormenta-font);
	color: var(--red);
}

h1 {
	font-size: var(--header);
}

h1.title {
	font-size: var(--title);
	text-align: center;
}

h2 {
	font-size: var(--big);
}

h3 {
	font-size: var(--medium);
}

a {
	text-decoration: none;
	color: var(--red);
}

body {
	background-image: var(--bg-image);
	backdrop-filter: grayscale(0.8);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: var(--black);
	font-size: var(--regular);
	display: grid;
	align-items: center;
	min-height: 100dvh;
	position: relative;
}

main {
	margin: 0 auto;
	background-color: var(--white-alpha);
	min-height: 100dvh;
	padding: var(--spacing-m) var(--spacing-l);
	min-width: 90ch;
	backdrop-filter: blur(3px);
	display: grid;
	place-items: center;
	border-inline: 10px solid var(--black);
}

section,
.section-style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-s);
	background-color: var(--white-alpha);
	padding: var(--spacing-s) var(--spacing-m);
	border-radius: var(--spacing-s);
	box-shadow: var(--shadow);
}

section.row,
.section-style.row {
	flex-direction: row;
}

section.big {
	padding-block: var(--spacing-l);
}

section + section:not(.row),
header + section:not(.row),
section:not(.row) + header {
	margin-block-start: var(--spacing-s);
}

section header {
	display: flex;
	align-items: center;
	gap: var(--spacing-s);
}

section.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--spacing-s);
}

input {
	padding: var(--spacing-s) var(--spacing-xs);
	font-size: var(--regular);
	font-weight: 700;
	border: none;
	width: 100%;
}

input:focus,
input:active {
	border: none;
	outline: none;
	color: var(--red);
}

input.medium {
	font-size: var(--medium);
}

input.big {
	font-size: var(--big);
}

input.transparent {
	background-color: transparent;
}

button {
	padding: var(--spacing-xs) var(--spacing-s);
	border: 1px transparent solid;
	background-color: var(--red);
	color: var(--golden);
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: var(--spacing-xs);
	transition: var(--transition);
	display: flex;
	gap: var(--spacing-xs);
	max-width: 40ch;
}

button:hover {
	background-color: var(--red-dark);
	color: var(--golden-dark);
}

button:active {
	border: 1px var(--golden) solid;
}

dialog {
	width: 80%;
	background-color: var(--white);
	padding: var(--spacing-m) var(--spacing-l);
	border-radius: var(--spacing-s);
	box-shadow: var(--shadow);
	border: none;
	opacity: 1;
}

dialog[open] {
	display: grid;
	margin: var(--spacing-l) auto;
}

dialog:not([open]) {
	pointer-events: none;
	margin: 0;
}

dialog::backdrop {
	background-color: hsla(0, 0%, 0%, 0.5);
	backdrop-filter: blur(5px);
}

html:has(dialog[open]) {
	overflow: hidden;
}

dialog button {
	margin-block-start: 1rem;
}
