.transparentButton {
	background-color: transparent;
	color: var(--black);
	align-items: center;
	text-decoration: underline 2px solid transparent;
}

.transparentButton:hover {
	color: var(--red);
	background-color: transparent;
	text-decoration: underline 2px solid var(--golden-dark);
}

.transparentButton h3:hover {
	transition: 200ms;
}
