.basic {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* grid-template-columns: repeat(4, 1fr); */
	gap: var(--spacing-m);
	align-items: start;
	place-content: start;
}

.span3 {
	grid-column: span 3;
}

.span2 {
	grid-column: span 2;
}
