.attrGrid {
	display: grid;
	grid-template-columns: 1fr 250px;
	gap: var(--spacing-m);
	align-items: center;
}

.attrGrid ul {
	display: grid;
	grid-template-columns: repeat(6, minmax(95px, auto));
	gap: var(--spacing-m);
}

.attrGrid li {
	display: grid;
	grid-template-columns: 18px 1fr;
	max-width: 125px;
	min-width: 100px;
	height: 114px;
	justify-items: baseline;
}

.attrGrid li div {
	display: grid;
	grid-template-rows: 1fr var(--spacing-m);
	gap: 0.2em;
	grid-template-columns: 1fr;
	background-color: var(--warm-grey);
	border-radius: 0 var(--spacing-s) var(--spacing-s) 0;
}

.attrGrid li span {
	font-weight: 700;
	background-color: var(--black);
	writing-mode: vertical-lr;
	transform: rotate(180deg) translateY(1px);
	color: var(--golden);
	text-align: end;
	padding-bottom: var(--spacing-xs);
	border-radius: 0 var(--spacing-s) var(--spacing-s) 0;
}

.attrGrid li p {
	text-align: center;
	font-weight: 700;
	font-size: 1.2em;
	color: var(--red-dark);
}

.attrGrid ul input {
	text-align: center;
	color: var(--red);
	border-radius: 0 var(--spacing-s) 0 0;
}
.attrGrid ul input:disabled {
	color: var(--black);
	background-color: var(--white);
}
